
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    box-sizing : border-box;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.band-name {
    animation: slide-in 0.7s both;
 
  }

.fade{
    animation: slide-in 0.7s both, color-change 1s 0.7s both;
}
  
  
@keyframes slide-in {
    0% {
      transform: translateY(-1000px);
    }
    100% {
      transform: translateY(0);
    }
  }
@keyframes appear{
            from{
                opacity: 0;
                transform: translateX(-100px);
            }
            to{
                opacity: 1;
                transform: translateX(0px);
            }
        }
.content-section{
   
            animation: appear linear;
            animation-timeline: view();
            /* ระยะfade*/
            animation-range: entry 0% cover 40%;
        }


  @keyframes color-change {
    0% { color: white; }
    60% { color: white; }
    100% { color:  #e74c3c  ; }

  }



.main-header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("Images/main1.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 50px;
    color: black;
    height: 550px; 

    
}
.main-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("Images/main1.jpg"); /* ใช้รูปภาพซ้ำ */
    background-size: cover;
    background-position: center;
    filter: blur(5px); /* เบลอภาพ */
    z-index: 0; /* ให้อยู่ด้านล่างของข้อความ */
}

.main-header h1 {
    padding: 120px 0;
    position: relative;
    z-index: 2; /* วางข้อความให้อยู่เหนือภาพเบลอ */
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 100px; /* จัดข้อความให้อยู่ตรงกลาง */
}

.strong-nav{
    color:#3498db;
}
.html , body{
    background: rgb(99,99,115);
background: linear-gradient(180deg, rgba(99,99,115,1) 0%, rgba(42,42,46,1) 52%, rgba(46,46,47,1) 100%);
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}

.nav li {
    display: inline;
}

.main-nav{
    position: relative;
    z-index: 2; /* index 2 */
    color: white;

    margin: 0;
    padding-top: 10px; /* top pad */
    text-align:  center;
    font-size: .8cm;
    font-weight:lighter;
    border-bottom: 0.2px solid rgba(255, 255, 255, 0);
   
}

.main-nav li{

    padding: 0 2%;
}
.nav a:hover{
    background-color: #b2babb ;
}
.nav a {
    
    display: inline-block;
    padding: .5cm;
    color : white;
    text-decoration: none; /* under line */
}


/* Text main */
.band-name {
    text-align: center;
    
    margin: 0;
    font-size: 3.5cm;
    font-family: Charm;
    font-weight: normal;
}

/* text */
.content-section {
    margin: 1em;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5em;
}


.section-header{
    
    font-family: Taviraj;
    font-weight: normal;
    color: #fdfefe ;
    text-align: center;
    font-size: 2.5em;
   padding: 50px;
}

.about-band-image{
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 40%;
}
.about-band-image1{
    float: right;
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 40%;
}

.p-nav {
    margin: 1;
}

/*footer */
.main-footer {
    background-color: #3d3d3d;
    color: white;
    padding: 10px 0;
    font-size: 0.9em; 
    text-align: left;
}

.main-footer-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.band-footer {
    margin: 0; 
    font-size: 1.2em; 
}

.footer-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav li {
   
    padding: 0 5px;
}

.footer-nav img {
   
    width: 40px;
    height: 40px;
   
}

/* */
.block {
    height: 13em;
    line-height: 5em;
    width: 22em;
    background: #464646;
    color: #fdfdfd;
    text-align: center;
    margin: 1em auto;
    text-shadow: 0 0 1px #333; /* so one can see fadeBgColor properly */
  }
  .image {
    float: center;
    height: 30px;
    width: 30px;
    margin: 6px;
    border-radius: 40%;
  }

  /* scale moblie */
  @media screen  and (max-width: 800px){
    .band-name{
        font-size: 1cm;
        
    }
    .main-nav{
        position: relative;
        color: white;
        padding-top: 1px; /* top pad */
        text-align:  center;
        font-size: .3cm;
        font-weight:lighter;
        border-bottom: 0.1px solid rgba(255, 255, 255, 0);
    }
    .main-header {
        
        height: 400px; 
    
        
    }
    .main-header::before{
        height: 400px; 
    }
    .section-header{
    
        font-family: Taviraj;
        font-weight: normal;
        color: #fdfefe ;
        text-align: center;
        font-size: 1em;
       padding: 30px;
    }
    
    .about-band-image{
        float: left;
        height: 120px;
        width: 120px;
        margin: 5px;
        border-radius: 30%;
    }
    .about-band-image1{
        float: right;
        height: 120px;
        width: 120px;
        margin: 5px;
        border-radius: 30%;
    }
    .content-section {
        margin: 0.2em;
    }
    .container{
        max-width: 420px;
        margin: 0 auto;
        padding: 0 0.2em;
    }
    .content-section{
   
        animation: appear linear;
        animation-timeline: view();
        /* ระยะfade*/
        animation-range: entry 0% cover 15%;
    }
    .text2{
        
        white-space: pre-line;
        margin: 2;
        padding: 0.2em;
    }
    .pre-n{
        font-size: 1em;
        text-align:  left;
       }
   
  }

   /* scale moblie */
   @media screen  and (max-width: 1024px){
    .band-name{
        font-size: 1.75cm;
        
    }
    @keyframes slide-in {
        0% {
          transform: translateY(-1000px);
        }
        100% {
          transform: translateY(-20px);
        }
      }
    .main-nav{
        position: relative;
        color: white;
        padding-top: 1px; /* top pad */
        text-align:  center;
        font-size: .75cm;
        font-weight:lighter;
        border-bottom: 0.2px solid rgba(255, 255, 255, 0);
    }
    .main-header {
        
        height: 500px; 
    
        
    }
    .main-header::before{
        height: 500px; 
    }
    .section-header{
    
        font-family: Taviraj;
        font-weight: normal;
        color: #fdfefe ;
        text-align: center;
        font-size: 1em;
       padding: 20px;
    }
    
    .about-band-image{
        float: left;
        height: 120px;
        width: 120px;
        margin: 5px;
        border-radius: 30%;
    }
    .about-band-image1{
        float: right;
        height: 120px;
        width: 120px;
        margin: 5px;
        border-radius: 30%;
    }
    .content-section {
        margin: 0.4em;
    }
    .container{
        max-width: 900px;
        margin: 0 auto;
        padding: 0 0.2em;
    }
    .content-section{
   
        animation: appear linear;
        animation-timeline: view();
        /* ระยะfade*/
        animation-range: entry 0% cover 20%;
    }
    .text2{
        
        white-space: pre-line;
        margin: 2;
        padding: 0.2em;
    }
    .pre-n{
        font-size: 1em;
        text-align:  left;
       }
}


   /* scale moblie */
   @media screen  and (max-width: 520px){
    .band-name{
        
        margin-top: -20px; /* ปรับเป็นค่าที่เหมาะสม */
        font-size: 1.7cm;
        margin: 0 auto;
        
        
    }
    @keyframes slide-in {
        0% {
          transform: translateY(-1000px);
        }
        100% {
          transform: translateY(-55px);
        }
      }
    .main-header {
        position: relative;
        background-color: rgba(0, 0, 0, 0.6);
        background-image: url("Images/main1.jpg");
        background-size: cover;
        background-blend-mode: multiply;
        padding-bottom: 2px;
        color: black;
        height: 90px; 
    
        
    }
    .main-nav{
        position: relative;
        color: white;
        padding-top: .05px; /* top pad */
        text-align:  center;
        font-size: .4cm;
        font-weight:lighter;
        border-bottom: .7px solid rgba(255, 255, 255, 0);
    }
    .main-header {
        
        height: 500px; 
    
        
    }
    .main-header::before{
        height: 500px; 
    }
    .section-header{
    
        font-family: Taviraj;
        font-weight: normal;
        color: #fdfefe ;
        text-align: center;
        font-size: .75em;
       padding: 10px;
    }
    
    .about-band-image{
        float: left;
        height: 120px;
        width: 120px;
        margin: 5px;
        border-radius: 30%;
    }
    .about-band-image1{
        float: right;
        height: 120px;
        width: 120px;
        margin: 5px;
        border-radius: 30%;
    }
    .content-section {
        margin: 0.4em;
    }
    .container{
        max-width: 800px;
        margin: 0 auto;
        padding: 0 0.2em;
    }
    .content-section{
   
        animation: appear linear;
        animation-timeline: view();
        /* ระยะfade*/
        animation-range: entry 0% cover 20%;
    }
    .text2{
        
        white-space: pre-line;
        margin: 2;
        padding: 0.2em;
    }
    .pre-n{
     font-size: 1em;
     text-align:  left;
    }
}

/* scale moblie */
@media screen  and (max-width: 1100px){
    .band-name{
        font-size: 1.9cm;
        
    }
    @keyframes slide-in {
        0% {
          transform: translateY(-1000px);
        }
        100% {
          transform: translateY(-20px);
        }
      }
    .main-nav{
        position: relative;
        color: white;
        padding-top: 1px; /* top pad */
        text-align:  center;
        font-size: .75cm;
        font-weight:lighter;
        border-bottom: 0.2px solid rgba(255, 255, 255, 0);
    }
    .main-header {
        
        height: 500px; 
    
        
    }
    .main-header::before{
        height: 500px; 
    }
    .section-header{
    
        font-family: Taviraj;
        font-weight: normal;
        color: #fdfefe ;
        text-align: center;
        font-size: 1em;
       padding: 20px;
    }
    
    .about-band-image{
        float: left;
        height: 120px;
        width: 120px;
        margin: 5px;
        border-radius: 30%;
    }
    .about-band-image1{
        float: right;
        height: 120px;
        width: 120px;
        margin: 5px;
        border-radius: 30%;
    }
    .content-section {
        margin: 0.4em;
    }
    .container{
        max-width: 900px;
        margin: 0 auto;
        padding: 0 0.2em;
    }
    .content-section{
   
        animation: appear linear;
        animation-timeline: view();
        /* ระยะfade*/
        animation-range: entry 0% cover 20%;
    }
    .text2{
        
        white-space: pre-line;
        margin: 2;
        padding: 0.2em;
    }
    .pre-n{
        font-size: 1em;
        text-align:  left;
       }
}